.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 0 6vw;
	display: grid;
	width: -webkit-fill-available;
	background-color: #ffffff;
	mix-blend-mode: color-burn;
	grid-template-columns: 1fr max-content 1fr;
	grid-template-areas: 'right menu left';

	&__menu {
		--item-width: 130px;
		grid-area: menu;
		list-style: none;
		text-align: center;
		position: relative;
		display: grid;
		grid-column-gap: 3vw;
		grid-template-rows: 5em;
		grid-template-columns: repeat(2, var(--item-width));

		li {
			display: flex;
			align-self: center;
			align-items: center;
			justify-content: center;

			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.875em;
				font-weight: bold;
				color: $green;
				padding: 0 1em;
			}

			&[data-active='true'] ~ .underline {
				display: block;
			}

			&:nth-child(1):hover ~ div.underline,
			&:nth-child(1)[data-active='true'] ~ .underline {
				left: 0 !important;
			}

			&:nth-child(2):hover ~ div.underline,
			&:nth-child(2)[data-active='true'] ~ .underline {
				left: calc(var(--item-width) + 3vw) !important;
			}

			&:nth-child(3):hover ~ div.underline,
			&:nth-child(3)[data-active='true'] ~ .underline {
				left: calc(2 * var(--item-width) + 6vw) !important;
			}
		}

		.underline {
			display: none;
			position: absolute;
			bottom: 0;
			height: 6px;
			width: var(--item-width);
			background-color: $green;
			transition: left 0.7s cubic-bezier(0, 0.01, 0, 1.01);
		}
	}
}
