.navbar {
	position: relative;
	display: grid;
	justify-content: center;

	&__menu {
		--item-width: 130px;
		list-style: none;
		text-align: center;
		position: relative;
		display: grid;
		grid-column-gap: 3vw;
		grid-template-rows: 5em;
		grid-template-columns: repeat(2, var(--item-width));

		li {
			display: flex;
			align-self: center;
			align-items: center;
			justify-content: center;

			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.875em;
				font-weight: bold;
				color: $green;
				padding: 0 1em;
			}

			&[data-active='true'] ~ .underline {
				display: block;
			}

			&:nth-child(1):hover ~ div.underline,
			&:nth-child(1)[data-active='true'] ~ .underline {
				left: 0 !important;
			}

			&:nth-child(2):hover ~ div.underline,
			&:nth-child(2)[data-active='true'] ~ .underline {
				left: calc(var(--item-width) + 3vw) !important;
			}

			&:nth-child(3):hover ~ div.underline,
			&:nth-child(3)[data-active='true'] ~ .underline {
				left: calc(2 * var(--item-width) + 6vw) !important;
			}
		}

		.underline {
			display: none;
			position: absolute;
			bottom: 0;
			height: 6px;
			width: var(--item-width);
			background-color: $green;
			transition: left 0.7s cubic-bezier(0, 0.01, 0, 1.01);
		}
	}

	.hamburger {
		width: 25px;
		height: 13px;
		display: none;
		flex-direction: column;
		justify-content: space-between;

		span {
			height: 4px;
			background-color: $green;

			&:first-child {
				width: 70%;
			}
			&:last-child {
				width: 100%;
			}
		}
	}

	@media (max-width: 1024px) {
		& {
			height: 30px;
			margin-top: 2vh;
			align-items: center;
			justify-content: flex-end;

			&__menu {
				display: none;
			}

			.hamburger {
				display: flex;
				position: relative;
			}
		}
	}
}
