.draggable {
	display: none;
	text-align: center;
	align-content: center;
	position: fixed;
	color: $gray;
	text-transform: capitalize;
	font-family: $font-header;
	letter-spacing: 0.1em;
	background-color: $green;
	z-index: 1000;
	user-select: none;
	pointer-events: none;
}

.draggable-display {
	display: grid;
}
