.lets-make {
	position: relative;
	display: grid;
	grid-column-gap: 4vw;
	grid-template-columns: max-content 1fr max-content;
	grid-template-areas: 'leftbar pizza rightbar';

	&__leftbar {
		grid-area: leftbar;
		position: relative;
		overflow: hidden;
		@include size(15em, 100%);
		display: grid;
		grid-row-gap: 2em;
		grid-template-rows: max-content 1fr max-content;
		grid-template-areas:
			'btn-prev'
			'menu'
			'btns';

		.btn-prev {
			grid-area: btn-prev;
			width: 50%;
		}

		.menu-history {
			position: absolute;
			top: 3.5em;
			font-style: italic;
			letter-spacing: 0.1em;
			color: $green;
			font-size: 0.7em;
		}

		.btns--wrapper {
			grid-area: btns;
			display: grid;
			grid-column-gap: 0.5em;
			margin-right: 7px;
			grid-template-columns: 1fr 1fr;
		}

		.menu--wrapper {
			grid-area: menu;
			@extend %overflow-y-scroll;

			.menu {
				position: absolute;
				display: grid;
				grid-row-gap: 0.5em;
				grid-auto-rows: 3em;
				width: 100%;

				&__item {
					white-space: nowrap;
				}
			}

			.ingredients {
				position: absolute;
				display: grid;
				grid-row-gap: 0.5em;
				grid-auto-rows: 7em;
				width: 100%;

				&__item {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-areas: 'img info';

					.image {
						grid-area: img;
						display: grid;
						align-items: center;
						justify-items: center;
						height: 100%;
						color: $gray;
						background-color: $green;
						cursor: grab;
					}

					.image-opacity {
						opacity: 0;
						animation: opac 0.6s ease-out 0.7s forwards;
					}

					@keyframes opac {
						from {
							opacity: 0;
						}

						to {
							opacity: 1;
						}
					}

					.info {
						grid-area: info;
						color: #313131;
						font-size: 0.875em;
						text-transform: lowercase;
						padding: 0 0.5em;
						@extend %grid-center;
						grid-row-gap: 0.2em;
						grid-auto-rows: max-content;
						border: 2px dashed #007a5340;
						user-select: none;

						&__type {
							font-size: 0.7em;
							color: $green;
							font-style: italic;
							letter-spacing: 0.2em;
							padding-bottom: 0.4em;
							border-bottom: 2px dashed #007a5340;
							user-select: none;
						}

						&__weight {
							margin-top: 0.3em;
							white-space: nowrap;
						}

						&__price {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}

	&__pizza {
		grid-area: pizza;
		@include size(100%);
		position: relative;
		overflow: hidden;
		border: 2px dashed #007a5340;
		display: grid;
		grid-template-columns: 1fr;

		.pizza {
			display: grid;
			justify-items: center;
			align-items: center;

			&__base {
				@include size(calc(20px + 22vw));
				background-color: #70544f20;
				border: 1em dashed #70544f40;
				border-radius: 50%;
				@extend %grid-center;
				font-family: $font-header;
				letter-spacing: 0.1em;
				font-size: 1.5em;
				color: $brown;

				.drag-text {
					position: absolute;
					top: 0;
					left: 0;
					padding: 0.7em;
					font-size: 0.7em;
					letter-spacing: 0.2em;
					color: #007a5340;
				}

				span {
					text-align: center;
					pointer-events: none;
				}
			}

			.onpizza {
				border: 1em dashed $brown;
			}
		}

		.type {
			padding-right: 0.2em;
		}
	}

	&__rightbar {
		grid-area: rightbar;
		width: 14em;
		display: grid;
		grid-row-gap: 2em;
		grid-template-rows: 1fr min-content;
		grid-template-areas: 'ingredients' 'total';

		.ingredients--wrapper {
			grid-area: ingredients;
			display: grid;
			border: 2px dashed #007a5340;
			@extend %overflow-y-scroll;

			.ingredients {
				position: absolute;
				padding: 0.6em 0.4em;
				font-size: 0.8em;
				display: grid;
				grid-row-gap: 1em;
				width: 100%;

				.ingredient {
					width: 100%;
					padding-bottom: 0.5em;
					border-bottom: 1px dashed #bfded4;
					display: grid;
					grid-template-columns: max-content 1fr 5em;
					grid-template-areas: 'btns info img';
					grid-column-gap: 0.7em;

					.btns--wrapper {
						grid-area: btns;
						display: grid;
						grid-row-gap: 0.5em;
						grid-auto-rows: 1fr;
						grid-auto-columns: 2em;
						width: 2em;

						.btn-crease {
							position: relative;
							@extend %grid-center;

							.icon {
								line-height: 0;
								font-weight: bold;
								font-size: 2em;
							}
						}
					}

					&-info--wrapper {
						grid-area: info;
						display: grid;
					}

					&__count {
						white-space: nowrap;
					}

					&__weight {
						white-space: nowrap;
					}

					&__price {
						white-space: nowrap;
					}

					&__image {
						grid-area: img;
						display: grid;
						align-items: center;
						justify-items: center;
						background-color: $green;
						color: $gray;
					}
				}
			}
		}

		.total {
			grid-area: total;
			padding: 0.4em;
			display: grid;
			grid-row-gap: 0.4em;
			border: 2px dashed #007a5340;

			&__name {
				padding-bottom: 0.2em;
				border-bottom: 2px dashed #007a5340;
			}
		}
	}
}

/* ----------- media iPad ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.lets-make {
		grid-column-gap: 3vw;
		grid-template-columns: max-content minmax(250px, auto) max-content;

		.menu--wrapper {
			.ingredients {
				grid-auto-rows: 6em;

				&__item {
					grid-template-columns: minmax(6em, 50%) 1fr;

					.info {
						&__type {
							font-size: 0.6em;
						}
						&__weight {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}

// iPhone 5, 5S, 5C and 5SE ---- 320px - 568px
// iPhone 6, 6S, 7 and 8 ------- 375px - 667px
// iPhone 6+, 7+ and 8+ -------- 414px - 736px
// iPhone 6+, 7+ and 8+ -------- 414px - 736px
// iPhone X -------------------- 375px - 812px

/* ----------- media iPhon 5, 5S, 5C and 5SE, 6, 6S, 7 and 8 (with +) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.lets-make {
		&__pizza {
			.pizza {
				&__base {
					font-size: 1em;
				}
			}
		}
	}
}

/* ----------- media iPhon 6, 6S, 7 and 8 (with +) ----------- */

@media only screen and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.lets-make {
		grid-row-gap: 2vw;
		grid-template-columns: none;
		grid-template-rows: max-content 1fr max-content;
		grid-template-areas: 'rightbar' 'pizza' 'leftbar';

		&__leftbar {
			width: 100%;
			grid-row-gap: 0.7em;

			.menu-history {
				text-align: end;
				top: 0;
				right: 0;
				width: 40%;
				word-break: break-word;
			}

			.btns--wrapper {
				margin-right: 0;
			}

			.menu--wrapper {
				overflow-y: hidden;
				overflow-x: scroll;
				height: 6.4em;

				.menu {
					grid-column-gap: 0.5em;
					grid-template-columns: auto;
					grid-auto-flow: column;
					grid-auto-rows: 6em;

					&__item {
						font-size: 1em;
					}
				}

				.ingredients {
					grid-column-gap: 0.5em;
					grid-template-columns: max-content;
					grid-auto-flow: column;
					grid-auto-rows: 6em;

					&__item {
						grid-template-columns: 6em max-content;

						.info {
							&__name {
								word-break: normal;
							}
							&__type {
								font-size: 0.6em;
							}
							&__weight {
								margin-top: 0;
							}
						}
					}
				}
			}
		}

		&__pizza {
			width: 100%;
			position: relative;
			overflow: hidden;
			border: 2px dashed #007a5340;
			grid-template-columns: 1fr;

			.pizza {
				&__base {
					@include size(60vw);
					font-size: 1.5em;

					.drag-text {
						display: none;
					}
				}
			}
		}

		&__rightbar {
			width: 100%;
			grid-row-gap: 2vw;

			.ingredients--wrapper {
				overflow-y: hidden;
				overflow-x: scroll;
				height: 5.5em;
				border: none;

				.ingredients {
					grid-column-gap: 0.7em;
					grid-auto-flow: column;
					grid-template-columns: min-content;

					.ingredient {
						border: none;
						padding: 0;
						grid-column-gap: 0;

						.btns--wrapper {
							border: 2px dashed #007a5340;
							border-right: none;
							padding: 0.5em;
							width: 3em;
						}

						&-info--wrapper {
							padding: 0 0.5em 0 0.3em;
							border-width: 2px 0;
							border-style: dashed;
							border-color: #007a5340;
						}
					}
				}
			}

			.total {
				grid-auto-flow: column;
				grid-auto-columns: auto;
				grid-column-gap: 0.5em;
				justify-content: space-around;

				&__name {
					border: none;
				}

				.type {
					padding-right: 0.4em;
				}
			}
		}
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.lets-make {
		grid-column-gap: 2vw;

		&__leftbar {
			width: 12em;

			.menu--wrapper {
				.menu {
					grid-row-gap: 0.3em;
					grid-auto-rows: 2.2em;
					width: 100%;

					&__item {
						white-space: nowrap;
						font-size: 1em;
					}
				}

				.ingredients {
					grid-auto-rows: 6em;

					&__item {
						grid-template-columns: 40% 1fr;

						.info {
							&__type {
								font-size: 0.6em;
							}
							&__weight {
								margin-top: 0;
							}
						}
					}
				}
			}
		}

		&__rightbar {
			width: 12em;
			grid-row-gap: 1em;

			.ingredients--wrapper {
				.ingredients {
					font-size: 0.7em;
				}

				.total {
					grid-row-gap: 0.1em;
				}
			}
		}
	}
}
